<div class="main-container">
  <app-map></app-map>

  <div class="ask-stepper">

    <div class="card ask-stepper__header mt-2 ml-4 mr-4 mt-4">
      <div class="row">
        <div class="col-4 header__step pt-2 pb-2 flex-align-center active">
          <div class="header-step__circle flex-align-center">
            <i class="fas fa-user-alt"></i>
          </div>
          <p class="m-0 header-step__title">Para mi</p>
        </div>

        <div class="col-4 header__step pt-2 pb-2 flex-align-center">
          <div class="header-step__circle flex-align-center">
            <i class="fas fa-users"></i>
          </div>
          <p class="m-0 header-step__title">Colega</p>
        </div>

        <div class="col-4 header__step pt-2 pb-2 flex-align-center">
          <div class="header-step__circle flex-align-center">
            <i class="fas fa-user-plus"></i>
          </div>
          <p class="m-0 header-step__title">Invitado</p>
        </div>
      </div>
    </div>

    <div class="ask-stepper__content">
      <mat-horizontal-stepper [selectedIndex]="stepIndex" 
        (animationDone)="changeStepper(stepper)" linear #stepper>

        <mat-step [stepControl]="form.get('origin')" label="origin">
          <form [formGroup]="form" class="position-relative">
            <i class="pin"></i>
            <ng-template matStepLabel>Origen</ng-template>

            <mat-form-field appearance="legacy" class="custom-field ml-3">
              <mat-label>¿Dónde te recogemos?</mat-label>
              <input matInput type="text" formControlName="origin">
            </mat-form-field>
          </form>
        </mat-step>

        <mat-step [stepControl]="form.get('destination')" label="destination">
          <form [formGroup]="form">
            <ng-template matStepLabel>Destino</ng-template>

            <mat-form-field appearance="legacy" class="custom-field ml-3">
              <mat-label>¿A dónde vamos?</mat-label>
              <input matInput type="text" formControlName="destination">
            </mat-form-field>
          </form>
        </mat-step>

      </mat-horizontal-stepper>

      <div class="container">
        <h5 class="mt-2">Favoritos</h5>

        <div class="row">
          <div class="col-12 trips" *ngIf="!(userLoading$ | async); else loading">
            <app-direction *ngFor="let address of favorites$ | async" 
              [stepIndex]="stepper.selectedIndex" [data]="address" 
              [disabled]="origin?.id === address.id || destination?.id === address.id">
            </app-direction>
          </div>

          <ng-template #loading>
            <div class="text-center w-100">
              <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

    </div>

    <div class="ask-stepper__footer pt-2">
      <div class="text-right">
        <button mat-raised-button 
          [disabled]="stepper.selectedIndex == 0 ? form.get('origin').invalid : form.get('destination').invalid"
          (click)="stepper.selectedIndex == 0 ? stepper.next() : send()"
          class="btn">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>